.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0);
  z-index: -1;
  transition: background-color 0.5s;
  &.active {
    background: rgba(41, 41, 41, 0.6);
    z-index: 0;
    transition: background-color 0.5s;
  }
}

.header {
  padding: 20px 0;
  background-color: #0C0C0E;
  color: #FFFFFF;
}

.header__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.header__nav-profile {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 40px;
  img {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
}

.header__nav {
  @media (max-width: 1024px) {
    position: absolute;
    width: 332px;
    height: 100vh;
    right: -100%;
    top: 0;
    background-color: #0C0C0E;
    transition: all 0.8s;
    &.active {
      right: 0;
    }
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 30px;
  margin: 0;
  list-style: none;
  font: 20px/50px 'Inter';
  @media (max-width: 1024px) {
    display: block;
    margin-top: 100px;
    padding: 0;
    li {
      margin-bottom: 30px;
      text-align: center;
    }
  }
}

h1 {
  font: 30px/50px 'Forum';
  letter-spacing: 0.6px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.5s;
  &:hover {
    color: #BB945F;
  }
}

.burger {
  display: none;
  @media (max-width: 1024px) {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 20px;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      width: 45px;
      height: 7px;
      border-top: 2px solid #FFFFFF;
      border-bottom: 2px solid #FFFFFF;
      transition: transform 0.5s;
    }
    &.active::before {
      top: 8px;
      right: 3px;
      border-bottom: none;
      transform: rotate(45deg);
    }
    &::after {
      content: '';
      position: absolute;
      width: 45px;
      height: 2px;
      background-color: #FFFFFF;
      top: 18px;
      transition: transform 0.5s;
    }
    &.active::after {
      top: 9px;
      transform: rotate(-45deg);
    }
  }
}