.cards__box {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  padding-top: 40px;
}

.cards__find {
  max-width: 600px;
  border: 3px solid #BB945F;
  padding: 20px 20px 30px;
  button {
    display: block;
    width: 242px;
    height: 44px;
    margin: 0 auto;
    font: 700 20px 'Inter';
  }
}

.cards__inputs {
  padding: 20px 20px 0;
  margin-bottom: 20px;
  background-color: #BB945F;
  font: 30px/50px 'Forum';
  p {
    margin: 0 0 20px;
  }

  input {
    width: 520px;
    height: 66px;
    margin-bottom: 25px;
    padding-left: 20px;
    border: none;
    border-radius: 10px;
    font: 30px/50px 'Forum';
  }
}

.cards__get {
  max-width: 456px;
  p {
    margin: 35px 0;
    text-align: end;
    font: 400 20px/40px 'Inter';
    letter-spacing: 0.4px;
  }
}

h4 {
  margin: 0 0 30px 0;
  text-align: center;
  font: 400 30px 'Inter';
  letter-spacing: 0.6px;
}

h5 {
  margin: 0;
  text-align: end;
  font: 30px 'Forum';
  letter-spacing: 0.6px;
}

.button__box {
  text-align: end;
  button {
    margin-left: 20px;
  }
}