.modal_register, .modal_login, .modal_profile, .modal_buy {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
}

.modal_register.active, .modal_login.active, .modal_profile.active, .modal_buy.active {
  display: flex;
}

.modal__wrapper {
  position: relative;
  width: 250px;
  height: min-content;
  padding: 20px 25px;
  background-color: #FFFFFF;
  label {
    font: 400 15px/20px 'Inter';
    letter-spacing: 0.3px;
  }
  input {
    width: 200px;
    height: 20px;
    margin: 10px 0;
    border: 1px solid #BB945F;
  }
}

.modal__title {
  margin: 0 0 20px;
  text-align: center;
  font: 20px 'Forum';
  letter-spacing: 0.4px;
}

input[type='submit'] {
  width: 75px;
  height: 30px;
  background-color: transparent;
  font: 700 10px 'Inter';
  letter-spacing: 1px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.modal__caption {
  display: inline-block;
  padding: 0;
  margin: 0 10px 0 0;
  font: 400 10px 'Inter';
}

.modal__link {
  font: 700 10px 'Inter';
  letter-spacing: 1px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal__wrapper_profile {
  position: relative;
  display: grid;
  grid-template-columns: 170px minmax(300px, 430px);
  background-color: #FFFFFF;
  font: 400 20px 'Inter';
}

.profile__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background-color: #0C0C0E;
}

.profile__avatar {
  width: min-content;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 30px 27px;
  color:#BB945F;
}

.profile__name {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 5px 15px;
}

.profile__content {
  padding-left: 20px;
}

.profile__info {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, min-content);
  justify-items: center;
  gap: 10px 20px;
  p {
    margin: 0;
  }
}

.profile__title {
  margin: 40px 0;
}

.profile__card {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  gap: 15px;
}

.card-number {
  color:#BB945F;
}

.profile__books-list {
  padding-left: 20px;
  max-height: 200px;
  overflow-y: auto;
}

.modal_buy__wrapper {
  position: relative;
  display: grid;
  grid-template: repeat(2, auto) / 200px minmax(160px, 330px);
  gap: 30px 40px;
  background-color: #FFFFFF;
  font: 400 15px/20px 'Inter';
  letter-spacing: 0.3px;
  form {
    padding: 0 0 30px 35px;
  }
  input {
    margin: 10px 0;
    border: 1px solid #BB945F;
  }
  input[type="submit"] {
    border: 1px solid #0C0C0E;
  }
  .modal__close {
    top: 20px;
    right: 20px;
    filter: invert(100%);
  }
}

.modal_buy__title {
  grid-column: span 2;
  margin: 0;
  background-color: #0C0C0E;
  font: 40px/60px 'Forum';
  color:#FFFFFF;
  text-align: center;
}

.input_short {
  width: 45px;
}

.modal__price {
  position: relative;
  display: inline-block;
  margin: 0 0 0 21px;
  font: 700 20px 'Inter';
  top: 8px;
}

.modal_buy__text {
  padding: 0 35px 40px 0;
  text-align: justify;
  color: #8E8E8E;
  letter-spacing: 2px;
}