.shop__text {
  font: 400 20px/40px 'Inter';
  letter-spacing: 2px;
  text-align: center;
}

.menu {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

h3 {
  font: 40px 'Forum';
  color: #BB945F;
  letter-spacing: 2px;
}