@font-face {
  font-family: 'Forum';
  src: url('../assets/fonts/Forum-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter-bold';
  src: url('../assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.wrapper {
  width: 1400 / 1440 * 100%;
  margin: 0 auto;
}

@import 'header';