@font-face {
  font-family: 'Forum';
  src: url('../assets/fonts/Forum-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/Inter-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Inter-bold';
  src: url('../assets/fonts/Inter-Bold.ttf');
  font-weight: 700;
}

*{
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  //overflow-x: hidden;
  &.lock {
    overflow: hidden;
  }
}

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  &.lock {
    overflow: hidden;
  }
}

.wrapper {
  width: calc(1400px / 1440px) * 100%;
  margin: 0 auto;
}

@import 'header';
@import 'welcome';
@import 'about';
@import 'favorites';
@import 'shop';
@import 'contacts';
@import 'library-cards';
@import 'footer';
@import 'modals';