@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter-bold";
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
html.lock {
  overflow: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}
body.lock {
  overflow: hidden;
}

.wrapper {
  width: 97.2222222222%;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0);
  z-index: -1;
  transition: background-color 0.5s;
}
.overlay.active {
  background: rgba(41, 41, 41, 0.6);
  z-index: 1;
  transition: background-color 0.5s;
}

.header {
  padding: 20px 0;
  background-color: #0C0C0E;
  color: #FFFFFF;
}

.header__wrapper {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.header__nav-profile {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 40px;
}
.header__nav-profile img {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header__nav {
    position: absolute;
    width: 332px;
    height: 100vh;
    right: -100%;
    top: -20px;
    background-color: #0C0C0E;
    z-index: 1;
    transition: all 0.8s;
  }
  .header__nav.active {
    right: -13px;
  }
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 30px;
  margin: 0;
  list-style: none;
  font: 20px/50px "Inter";
}
@media (max-width: 1024px) {
  .nav {
    display: block;
    margin-top: 100px;
    padding: 0;
  }
  .nav li {
    margin-bottom: 30px;
    text-align: center;
  }
}

h1 {
  font: 30px/50px "Forum";
  letter-spacing: 0.6px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  transition: color 0.5s;
}
a:hover {
  color: #BB945F;
}

.burger {
  display: none;
}
@media (max-width: 1024px) {
  .burger {
    display: inline-block;
    position: relative;
    width: 45px;
    height: 20px;
    z-index: 1;
    cursor: pointer;
  }
  .burger::before {
    content: "";
    position: absolute;
    width: 45px;
    height: 7px;
    border-top: 2px solid #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    transition: transform 0.5s;
  }
  .burger.active::before {
    top: 8px;
    right: 3px;
    border-bottom: none;
    transform: rotate(45deg);
  }
  .burger::after {
    content: "";
    position: absolute;
    width: 45px;
    height: 2px;
    background-color: #FFFFFF;
    top: 18px;
    transition: transform 0.5s;
  }
  .burger.active::after {
    top: 9px;
    transform: rotate(-45deg);
  }
}

.drop-menu, .drop-menu_logged {
  position: absolute;
  width: 80px;
  height: 0;
  background-color: #FFFFFF;
  right: 0;
  top: 50px;
  overflow: hidden;
  transition: height 0.5s;
}
.drop-menu hr, .drop-menu_logged hr {
  width: 40px;
  height: 1px;
  margin-bottom: 15px;
  background-color: #BB945F;
}
.drop-menu p, .drop-menu_logged p {
  margin: 5px 0;
  color: #000000;
  font: 400 15px/20px "Inter";
  text-align: center;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .drop-menu, .drop-menu_logged {
    right: 85px;
  }
}

.drop-menu.active, .drop-menu_logged.active {
  height: 115px;
}

.profile-letters {
  display: none;
  position: relative;
  width: 28px;
  height: 28px;
  background-color: #FFFFFF;
  border-radius: 50%;
  text-align: center;
  font: 400 16px/28px "Inter";
  color: #000000;
  z-index: 1;
  cursor: pointer;
}

.welcome__img {
  margin-top: -1px;
}

h2 {
  margin: 20px 0;
  color: #0C0C0E;
  font: 40px/40px "Forum";
  letter-spacing: 2px;
  text-align: center;
}

hr {
  width: 50px;
  height: 1px;
  margin: 0 auto;
  border: none;
  background-color: #0C0C0E;
}

.about__text {
  margin: 40px 0 20px;
  font: 400 20px/40px "Inter";
  text-align: center;
}

.about__slider-arrows .arrow-left, .about__slider-arrows .arrow-right {
  display: none;
}
@media (max-width: 770px) {
  .about__slider-arrows {
    width: 82.6%;
    display: grid;
    grid-template-columns: auto 74.9% auto;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .about__slider-arrows .arrow-left, .about__slider-arrows .arrow-right {
    display: block;
    margin-top: -80px;
    cursor: pointer;
  }
}

.about__slider {
  width: 100%;
  overflow: hidden;
}
.about__slider input {
  display: none;
}

.slider {
  display: grid;
  grid-template-columns: repeat(5, 32.1428571429%);
  column-gap: 1.7857142857%;
}
.slider img {
  width: 100%;
  transition: all 0.5s;
}
@media (max-width: 770px) {
  .slider {
    position: relative;
    grid-template-columns: repeat(5, 100%);
  }
}

.pagination {
  display: grid;
  grid-template-columns: repeat(3, 36px);
  justify-content: center;
  gap: 5px;
  margin: 40px 0;
}
.pagination label {
  width: 36px;
  height: 36px;
  border: 10px solid white;
  border-radius: 50%;
  background-color: #0C0C0E;
  cursor: pointer;
  transition: background-color 0.5s;
}
.pagination label:hover {
  background-color: #BB945F;
}
@media (max-width: 770px) {
  .pagination {
    grid-template-columns: repeat(5, 36px);
  }
}

.label4, .label5 {
  display: none;
}
@media (max-width: 770px) {
  .label4, .label5 {
    display: block;
  }
}

#img1:checked ~ .slider img {
  margin-left: 0;
}

#img2:checked ~ .slider img {
  margin-left: -105%;
}

#img3:checked ~ .slider img {
  margin-left: -210%;
}

#img1:checked ~ .pagination .label1,
#img2:checked ~ .pagination .label2,
#img3:checked ~ .pagination .label3,
#img4:checked ~ .pagination .label4,
#img5:checked ~ .pagination .label5 {
  background-color: #BB945F;
}

@media (max-width: 770px) {
  #img2:checked ~ .slider img {
    margin-left: -102%;
  }
  #img3:checked ~ .slider img {
    margin-left: -204%;
  }
  #img4:checked ~ .slider img {
    margin-left: -306%;
  }
  #img5:checked ~ .slider img {
    margin-left: -408%;
  }
}
.favorites__text {
  margin: 40px 0;
  font: 700 20px "Inter";
}

.favorites__seasons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  gap: 90px;
  margin-bottom: 40px;
  font: 400 20px "Inter";
}
.favorites__seasons input {
  display: none;
}
.favorites__seasons input + .label__season::after {
  content: "";
  position: absolute;
  visibility: hidden;
  width: 7px;
  height: 7px;
  background-color: #000000;
  border-radius: 50%;
  left: 5px;
  top: 7px;
}
.favorites__seasons input:checked + .label__season::after {
  visibility: visible;
}
@media (max-width: 1024px) {
  .favorites__seasons {
    position: sticky;
    top: 10px;
    z-index: 1;
  }
}
@media (max-width: 650px) {
  .favorites__seasons {
    gap: 15px;
  }
}

.label__season {
  position: relative;
}
.label__season::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 20px;
  border: 2px solid black;
  border-radius: 50%;
}

.favorites__book {
  display: grid;
  grid-template-columns: 40.4% 40.4%;
  grid-template-rows: auto auto;
  justify-content: space-between;
  row-gap: 40px;
  margin-right: 40px;
}
@media (max-width: 1340px) {
  .favorites__book {
    grid-template-columns: 47% 47%;
  }
}
@media (max-width: 1024px) {
  .favorites__book {
    grid-template-columns: minmax(550px, 70%);
    grid-template-rows: repeat(4, auto);
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .favorites__book {
    grid-template-columns: 100%;
  }
}

.book {
  position: relative;
  width: 100%;
  padding: 15px 20px;
  border: 1px solid #000000;
}
.book h6 {
  margin: 0;
  font: 20px/40px "Forum";
  letter-spacing: 2px;
}
.book hr {
  width: 60px;
  height: 1px;
  margin: 0;
  background-color: #BB945F;
}
.book img {
  position: absolute;
  bottom: 0;
  right: -40px;
}

.book__title {
  margin: 20px 0;
  font: 700 15px/40px "Inter";
  letter-spacing: 2px;
}

.book__text {
  width: 64.5%;
  margin: 0 0 15px;
  font: 400 15px/40px "Inter";
  letter-spacing: 2px;
  text-transform: capitalize;
}

button {
  width: 75px;
  height: 30px;
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  background-color: transparent;
  font: 700 10px "Inter";
  letter-spacing: 1px;
  transition: border-color 0.5s, background-color 0.5s;
  cursor: pointer;
}
button:hover {
  border-color: #BB945F;
  background-color: #BB945F;
}
button:disabled {
  border: 1px solid #BB945F;
  color: #BB945F;
  pointer-events: none;
}

.spring, .summer, .autumn {
  display: none;
}

.book.show {
  display: block;
  animation: fade-in 1s 1;
  animation-fill-mode: forwards;
}

.book.hidden {
  animation: fade-out 1s 1;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shop__text {
  margin: 40px 0;
  font: 400 20px/40px "Inter";
  letter-spacing: 2px;
  text-align: center;
}

.menu {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .menu {
    display: block;
  }
}

h3 {
  grid-column: span 3;
  margin: 0;
  font: 40px "Forum";
  color: #BB945F;
  letter-spacing: 2px;
}

.menu__box {
  display: grid;
  grid-template: repeat(6, auto)/repeat(3, auto);
  align-items: center;
  gap: 40px 60px;
}
.menu__box hr {
  width: 100px;
  height: 1px;
  background-color: #BB945F;
}
@media (max-width: 1024px) {
  .menu__box {
    width: 100%;
    max-width: 470px;
    margin-bottom: 40px;
  }
}

.food {
  justify-items: end;
}
@media (max-width: 1024px) {
  .food {
    margin: 0 0 60px auto;
  }
}

.menu__text {
  margin: 0;
  font: 20px/40px "Inter";
  letter-spacing: 2px;
}

.menu__price {
  margin: 0;
  font: 20px/40px "Forum";
  letter-spacing: 2px;
}

.contacts__box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  margin-top: 40px;
}
@media (max-width: 900px) {
  .contacts__box {
    grid-template: auto auto/100%;
    row-gap: 100px;
  }
}

.contacts__title {
  font: 700 20px/40px "Inter";
  letter-spacing: 2px;
}

.contacts__text {
  font: 400 20px/40px "Inter";
  letter-spacing: 2px;
}

@media (max-width: 900px) {
  iframe {
    width: 96%;
    justify-self: center;
  }
}

.cards__box {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}
@media (max-width: 1024px) {
  .cards__box {
    grid-template: auto auto/auto;
    justify-content: center;
    row-gap: 21px;
  }
}

.cards__find {
  max-width: 600px;
  border: 3px solid #BB945F;
  padding: 20px 20px 30px;
}
.cards__find button {
  display: block;
  width: 242px;
  height: 44px;
  margin: 0 auto;
  font: 700 20px "Inter";
}

.cards__inputs {
  padding: 20px 20px 0;
  margin-bottom: 20px;
  background-color: #BB945F;
  font: 30px/50px "Forum";
}
.cards__inputs p {
  margin: 0 0 20px;
}
.cards__inputs input {
  width: 520px;
  height: 66px;
  margin-bottom: 25px;
  padding-left: 20px;
  border: none;
  border-radius: 10px;
  font: 30px/50px "Forum";
  color: #BB945F;
}

.cards__login {
  display: none;
  grid-template: repeat(3, 1fr)/repeat(3, min-content);
  justify-content: center;
  justify-items: center;
  gap: 0px 35px;
}
.cards__login p {
  margin: 0;
  font: 400 10px/20px "Inter";
  letter-spacing: 0.2px;
}

.cards__get {
  max-width: 456px;
}
.cards__get p {
  margin: 35px 0;
  text-align: end;
  font: 400 20px/40px "Inter";
  letter-spacing: 0.4px;
}
@media (max-width: 1024px) {
  .cards__get p {
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .cards__get {
    justify-self: center;
    text-align: center;
  }
}

h4 {
  margin: 0 0 30px 0;
  text-align: center;
  font: 400 30px "Inter";
  letter-spacing: 0.6px;
}

h5 {
  margin: 0;
  text-align: end;
  font: 30px "Forum";
  letter-spacing: 0.6px;
}
@media (max-width: 1024px) {
  h5 {
    text-align: center;
  }
}

.button__box {
  text-align: end;
}
.button__box button {
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .button__box {
    text-align: center;
  }
}

footer {
  padding: 20px 0 40px;
  background-color: #0C0C0E;
}
footer .wrapper {
  margin: 0 auto;
}
footer hr {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}

.footer__library {
  display: grid;
  grid-template: auto auto/auto auto;
  justify-content: space-between;
  row-gap: 10px;
  margin-bottom: 30px;
}
.footer__library p {
  margin: 0;
  color: #FFFFFF;
  font: 400 15px/20px "Inter";
}

.footer__links {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: start;
  column-gap: 10px;
  margin: 8px 0 0;
  padding: 0;
  list-style: none;
}

.footer__dev {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
}
.footer__dev p, .footer__dev a {
  margin: 44px 0 0;
  color: #FFFFFF;
  font: 400 20px "Inter";
}
.footer__dev a:hover {
  color: #BB945F;
}

.modal_register, .modal_login, .modal_profile, .modal_buy {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(41, 41, 41, 0.6);
}

.modal_register.active, .modal_login.active, .modal_profile.active, .modal_buy.active {
  display: flex;
}

.modal__wrapper {
  position: relative;
  width: 250px;
  height: min-content;
  padding: 20px 25px;
  background-color: #FFFFFF;
}
.modal__wrapper label {
  font: 400 15px/20px "Inter";
  letter-spacing: 0.3px;
}
.modal__wrapper input {
  width: 200px;
  height: 20px;
  margin: 10px 0;
  border: 1px solid #BB945F;
}

.modal__title {
  margin: 0 0 20px;
  text-align: center;
  font: 20px "Forum";
  letter-spacing: 0.4px;
}

input[type=submit] {
  width: 75px;
  height: 30px;
  background-color: transparent;
  font: 700 10px "Inter";
  letter-spacing: 1px;
  border: 1px solid #000000;
  border-radius: 3px;
}

.modal__caption {
  display: inline-block;
  padding: 0;
  margin: 0 10px 0 0;
  font: 400 10px "Inter";
}

.modal__link {
  font: 700 10px "Inter";
  letter-spacing: 1px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.modal__close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.modal__wrapper_profile {
  position: relative;
  display: grid;
  grid-template-columns: 170px minmax(300px, 430px);
  background-color: #FFFFFF;
  font: 400 20px "Inter";
}

.profile__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background-color: #0C0C0E;
}

.profile__avatar {
  width: min-content;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 30px 27px;
  color: #BB945F;
}

.profile__name {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 5px 15px;
}

.profile__content {
  padding-left: 20px;
}

.profile__info {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, min-content);
  justify-items: center;
  gap: 10px 20px;
}
.profile__info p {
  margin: 0;
}

.profile__title {
  margin: 40px 0;
}

.profile__card {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  align-items: center;
  gap: 15px;
}

.card-number {
  color: #BB945F;
}

.profile__books-list {
  padding-left: 20px;
  width: 370px;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: auto;
}

.modal_buy__wrapper {
  position: relative;
  display: grid;
  grid-template: repeat(2, auto)/200px minmax(160px, 330px);
  gap: 30px 40px;
  background-color: #FFFFFF;
  font: 400 15px/20px "Inter";
  letter-spacing: 0.3px;
}
.modal_buy__wrapper form {
  padding: 0 0 30px 35px;
}
.modal_buy__wrapper input {
  margin: 10px 0;
  border: 1px solid #BB945F;
}
.modal_buy__wrapper input[type=submit] {
  border: 1px solid #0C0C0E;
}
.modal_buy__wrapper .modal__close {
  top: 20px;
  right: 20px;
  filter: invert(100%);
}

.modal_buy__title {
  grid-column: span 2;
  margin: 0;
  background-color: #0C0C0E;
  font: 40px/60px "Forum";
  color: #FFFFFF;
  text-align: center;
}

.input_short {
  width: 45px;
}

.modal__price {
  position: relative;
  display: inline-block;
  margin: 0 0 0 21px;
  font: 700 20px "Inter";
  top: 8px;
}

.modal_buy__text {
  padding: 0 35px 40px 0;
  text-align: justify;
  color: #8E8E8E;
  letter-spacing: 2px;
}

/*# sourceMappingURL=main.css.map */
