@font-face {
  font-family: "Forum";
  src: url("../assets/fonts/Forum-Regular.ttf");
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter-bold";
  src: url("../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.wrapper {
  width: 97.2222222222%;
  margin: 0 auto;
}

.header {
  padding: 20px 0;
  background-color: #0C0C0E;
  color: #FFFFFF;
}

.header__wrapper {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.header__nav-profile {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 40px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 30px;
  margin: 0;
  list-style: none;
  font: 20px/50px "Inter";
}

h1 {
  font: 30px/50px "Forum";
  letter-spacing: 0.6px;
  margin: 0;
}

.welcome__img {
  margin-top: -1px;
}

h2 {
  margin: 20px 0;
  color: #0C0C0E;
  font: 40px/40px "Forum";
  letter-spacing: 2px;
  text-align: center;
}

hr {
  width: 50px;
  height: 1px;
  margin: 0 auto;
  border: none;
  background-color: #0C0C0E;
}

.about__text {
  margin: 40px 0 20px;
  font: 400 20px/40px "Inter";
  text-align: center;
}

.slider {
  display: grid;
  grid-template-columns: repeat(3, 32.1428571429%);
  justify-content: space-between;
}
.slider img {
  width: 100%;
}

.pagination {
  display: grid;
  grid-template-columns: repeat(3, 36px);
  justify-content: center;
  gap: 5px;
  margin: 40px 0;
}
.pagination span {
  width: 36px;
  height: 36px;
  border: 10px solid white;
  border-radius: 50%;
  background-color: #0C0C0E;
  cursor: pointer;
}

.favorites__text {
  margin: 40px 0;
  font: 700 20px "Inter";
}

.favorites__seasons {
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: start;
  gap: 90px;
  margin-bottom: 40px;
  font: 400 20px "Inter";
}

.favorites__book {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-between;
  row-gap: 40px;
  margin-right: 40px;
}

.book {
  position: relative;
  width: 550px;
  padding: 15px 20px;
  border: 1px solid #000000;
}
.book h6 {
  margin: 0;
  font: 20px/40px "Forum";
  letter-spacing: 2px;
}
.book hr {
  width: 60px;
  height: 1px;
  margin: 0;
  background-color: #BB945F;
}
.book img {
  position: absolute;
  left: 390px;
  top: 256px;
}

.book__title {
  margin: 20px 0;
  font: 700 15px/40px "Inter";
  letter-spacing: 2px;
}

.book__text {
  width: 355px;
  margin: 0 0 15px;
  font: 400 15px/40px "Inter";
  letter-spacing: 2px;
  text-transform: capitalize;
}

button {
  width: 75px;
  height: 30px;
  border: 1px solid #0C0C0E;
  border-radius: 2px;
  background-color: transparent;
  font: 700 10px "Inter";
  letter-spacing: 1px;
}

.shop__text {
  font: 400 20px/40px "Inter";
  letter-spacing: 2px;
  text-align: center;
}

.menu {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

h3 {
  font: 40px "Forum";
  color: #BB945F;
  letter-spacing: 2px;
}

/*# sourceMappingURL=main.css.map */
